@model string
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link  rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <title>Index</title>
</head>
<body>
    <div>
        @Model
    </div>
    <div class="p-5 table-responsive-sm">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-dark">
                    <th>
                        Döviz Kodu
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>
                        Alış Fiyatı
                    </th>
                    <th>
                        Satış Fiyatı
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        USD
                    </td>
                    <td>
                        Dolar
                    </td>
                    <td>
                        32.30
                    </td>
                    <td>
                        33.5
                    </td>
                </tr>
                <tr>
                    <td>
                        USD
                    </td>
                    <td>
                        Dolar
                    </td>
                    <td>
                        32.30
                    </td>
                    <td>
                        33.5
                    </td>
                </tr>
                <tr>
                    <td>
                        USD
                    </td>
                    <td>
                        Dolar
                    </td>
                    <td>
                        32.30
                    </td>
                    <td>
                        33.5
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    


    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
