@model List<KurSite.Models.Kur>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark py-4 px-5 d-flex justify-content-between">
        <a href="#" class="navbar-brand">KUR SİTESİ</a>
        <div>
            <form method="post" action="/Home/Index">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control" placeholder="Kur Kodu" name="code">
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-primary" value="Ara">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="p-2 table-responsive-sm">
        <table class="table table-hover table-striped rounded shadow-lg">
            <thead>
                <tr class="table-dark">
                    <th>
                        Döviz Kodu
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>
                        Alış Fiyatı
                    </th>
                    <th>
                        Satış Fiyatı
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var forex in Model)
                {
                <tr>
                    <td class="fw-bold">
                        @forex.ForexCode/TRY
                    </td>
                    <td>
                        @forex.ForexName
                    </td>
                    <td>
                        @forex.ForexBuying

                    </td>
                    <td>
                        @forex.ForexSelling
                    </td>
                </tr>
                }


            </tbody>
        </table>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>