@model List<KurSite.Models.Kur>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link  rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <title>Index</title>
</head>
<body>
    <div>
        @Model
    </div>
    <div class="p-5 table-responsive-sm">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-dark">
                    <th>
                        Döviz Kodu
                    </th>
                    <th>
                        Adı
                    </th>
                    <th>
                        Alış Fiyatı
                    </th>
                    <th>
                        Satış Fiyatı
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var forex in Model)
                {
                    <tr>
                        <td>
                            @forex.ForexCode/TRY
                        </td>
                        <td>
                            @forex.ForexName
                        </td>
                        <td>
                            @forex.ForexBuying

                        </td>
                        <td>
                            @forex.ForexSelling
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    


    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
