@{
    ViewBag.hava = "active";
    ViewBag.title = "Hava Durumu";
}
<style>
    body {
        background-image: linear-gradient(to bottom, #005986,#eeeeee );
    }
</style>
<div class="p-5">
    <div id="wrapper"></div>
</div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="~/scripts/weather/index.js"></script>
